<footer class="site-footer text-center">
    <div class="inner-wide">
        <div class="footer-nav">
            {{navigation}}
        </div>
        <div class="separator"></div>
        <div class="footer-widgets">
            <ul class="footer-social">
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        <span class="icon-twitter" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        <span class="icon-instagram" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        <span class="icon-weibo" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        <span class="icon-github" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon-email" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank"
                        rel="noopener">
                        <span class="icon-feed" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <div>
                Copyright &copy; {{date format="YYYY"}}
                <a href="/">{{@site.title}}</a>
            </div>
            <div>
                Theme <a href="https://github.com/yehuzi/ghost-theme-nanboone" target="_blank">nanboone</a>
                • Made with <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://yehuzi.com">Yehuzi</a>
            </div>
            <div>
                Power by <a href="https://ghost.org/">Ghost</a>
            </div>
        </div>
    </div>
</footer>
