{{!< default}}

<main class="site-main">
    <div class="inner-wide">
        <div class="post-card-wrap">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</main>