{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="site-main">
    <section class="inner-wide">
        <div class="page-header">
            <h2>{{t title}}</h2>
        </div>
        <div class="page-content">
            {{content}}
        </div>
    </section>
</main>
{{/post}}